

.carousel .item {
      height: 250px;
	
    }
 .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 250px;
	
    }
.colonne-centré {
	float:none,
	margin : 0 auto;

}
article {
	background: url('../../source/pelouse.jpg');

	width:100%;
	height:350px;
}


#main {
	max-width:1000px;
	margin:auto;
	position:relative;
}

.jumbotron {
	height:250px;
	font-size:0,4em;
	text-align:center;
	border-radius: 10px;
  	text-shadow: black 0em 0em 0em !important;
	
}

.lead{
	font-size:0,4em;
}

#mybutton {
	margin-top:8px;
}
section {
	max-width:1000px;
	margin:auto;
	position:relative;
}
 @media (max-width: 600px) {
    .carousel-caption 
      display: none;
    }

.copyright {
	background-color: #C0C0C0;

}
.copyright p{
	text-color:white;
	font-family:Times New Roman;
	font-style:normal;
	font-size:0,4em;
}

.p{
	font-family:Times New Roman;
	font-style:normal;
	font-size:0,5em;
}


