

#main {
	max-width:1000px;
	margin:auto;
	position:relative;
}

.img {
	height:200px;
	border-radius:20px;
	width:450px;
}

#mybutton {
	margin-top:8px;
}
section {
	max-width:1000px;
	margin:auto;
	position:relative;

}

#parie{
	margin-right: 25px;
}

.row{
	margin-left: 15px;
}
#titre {
	text-align:center;
	font-family:Times New Roman;
	font-style:normal;
}
h4 {
	font-family:Times New Roman;
	font-style:italic;
}

footer {
	background-color: #f2f2f2;
	padding: 25px;
 }
.copyright {
	background-color: #C0C0C0;

}
.copyright p{
	text-color:white;
	font-family:Times New Roman;
	font-style:normal;
	font-size:0,4em;
}

.p{
	font-family:Times New Roman;
	font-style:normal;
	font-size:0,5em;
}

.equipe{
	display: inline-block;
	margin-right: 5%;
}
.logo{
	width: 40px;
	height: 50px;
}
.modal-lg {
	height: 1500px;
	width: 900px;
}

tbody {
	height: 50px;
	overflow-y: auto;
	overflow-x: hidden
}