#main {
	max-width:1000px;
	margin:auto;
	position:relative;
}


#mybutton {
	margin-top:8px;
}
section {
	max-width:1000px;
	margin:auto;
	position:relative;

}

#titre {
	text-align:center;
	font-family:Times New Roman;
	font-style:normal;
}
h4 {
	font-family:Times New Roman;
	font-style:italic;
}

footer {
	background-color: #f2f2f2;
	padding: 25px;
 }
.copyright {
	background-color: #C0C0C0;

}
.copyright p{
	text-color:white;
	font-family:Times New Roman;
	font-style:normal;
	font-size:0,4em;
}

.p{
	font-family:Times New Roman;
	font-style:normal;
	font-size:0,5em;
}

td {
	border:none;
}
